Repository boostcampwm-2021/web28-NaBaaang, pull requests merged in 2021-11, with the labels that each got.

#22 메인페이지 카테고리 별 영상 분류 및 썸네일 마우스 hover 시 버튼 생성
  frontend/.prettierrc.js
  frontend/public/dummy.json
  frontend/src/assets/images/left-arrow.svg
  frontend/src/assets/images/right-arrow.svg
  frontend/src/assets/images/tmp.svg
  frontend/src/components/Foo.jsx
  frontend/src/components/LiveCollection/LiveCard.jsx
  frontend/src/components/LiveCollection/LiveCollection.jsx
  frontend/src/components/LiveCollection/LiveCollection.stories.jsx
  frontend/src/components/LiveCollection/LiveDetails.jsx
  frontend/src/components/LiveCollection/LiveList.jsx
  frontend/src/components/LiveCollection/LiveSlider.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
  frontend/src/components/LiveCollection/MockLiveCollection.jsx
  frontend/src/components/LiveCollection/index.jsx
  frontend/src/hooks/useFoo.js
  frontend/src/hooks/useHover.js
  frontend/src/styles/theme.js
Labels: 💻 frontend, 💡 feature, 📐 layout

#23 공통 모달 및 도네이션, 로그인 모달 구현
  frontend/src/assets/images/bit-1.png
  frontend/src/assets/images/bit-100.png
  frontend/src/assets/images/bit-300.png
  frontend/src/assets/images/bit-50.png
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Button/Button.stories.jsx
  frontend/src/components/Button/index.jsx
  frontend/src/components/Card/Card.jsx
  frontend/src/components/Card/Card.stories.jsx
  frontend/src/components/Card/index.jsx
  frontend/src/components/DonationModal/DonationItemList/DonationItem/DonationItem.jsx
  frontend/src/components/DonationModal/DonationItemList/DonationItem/index.jsx
  frontend/src/components/DonationModal/DonationItemList/DonationItemList.jsx
  frontend/src/components/DonationModal/DonationItemList/index.jsx
  frontend/src/components/DonationModal/DonationModal.jsx
  frontend/src/components/DonationModal/DonationModal.stories.jsx
  frontend/src/components/DonationModal/index.jsx
  frontend/src/components/LoginModal/LoginModal.jsx
  frontend/src/components/LoginModal/LoginModal.stories.jsx
  frontend/src/components/LoginModal/index.jsx
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/Modal/Modal.stories.jsx
  frontend/src/components/Modal/index.jsx
  frontend/src/constants/donation.js
  frontend/src/styles/mixins.js
Labels: 💻 frontend, 💡 feature

#24 메인페이지 사이드바의 스트리머 아바타 리스트 구현
  frontend/src/assets/images/kukucorn.jpg
  frontend/src/components/SideBar/SideBar.jsx
  frontend/src/components/SideBar/SideBar.stories.js
  frontend/src/components/SideBar/SideBarStreamerItem.jsx
  frontend/src/components/SideBar/SideBarStreamerList.jsx
  frontend/src/components/SideBar/index.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#26 스트리밍 페이지 채팅창 Component 구현
  frontend/src/assets/images/icon-bit-1.svg
  frontend/src/assets/images/icon-bit-100.svg
  frontend/src/assets/images/icon-bit-300.svg
  frontend/src/assets/images/icon-bit-50.svg
  frontend/src/assets/images/icon-bit-500.svg
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/Chat/index.jsx
  frontend/src/components/Chat/stories/Chat.stories.jsx
  frontend/src/components/Chat/stories/Form.stories.jsx
  frontend/src/components/Chat/stories/Message.stories.jsx
  frontend/src/components/Chat/stories/MessageList.stories.jsx
  frontend/src/constants/messageType.js
  frontend/src/styles/mixins.js
Labels: 💻 frontend, 💡 feature, 📐 layout

#29 방송 생성 모달창 구현
  frontend/src/components/ChannelCreateModal/ChannelCreateHook.jsx
  frontend/src/components/ChannelCreateModal/ChannelCreateModal.jsx
  frontend/src/components/ChannelCreateModal/ChannelCreateModal.stories.jsx
  frontend/src/components/ChannelCreateModal/index.jsx
  frontend/src/components/TextField/TextField.jsx
  frontend/src/components/TextField/TextField.stories.jsx
  frontend/src/components/TextField/index.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#30 스트리밍 페이지 영상 레이아웃 구성
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/Channel.stories.jsx
  frontend/src/components/ChannelCard/Avatar.jsx
  frontend/src/components/ChannelCard/ChannelCard.jsx
  frontend/src/components/ChannelCard/ChannelCard.stories.jsx
  frontend/src/components/ChannelCard/ChannelDetails.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Video/Video.jsx
  frontend/src/components/Video/Video.stories.jsx
  frontend/src/components/Video/index.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#36 공용 헤더 컴포넌트 레이아웃 생성 & 메인페이지 레이아웃 생성
  frontend/src/App.js
  frontend/src/Portal.js
  frontend/src/assets/images/camera-icon.svg
  frontend/src/assets/images/header-logo.svg
  frontend/src/assets/images/user-icon.svg
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/Header.stories.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
  frontend/src/components/LoginModal/LoginModal.jsx
  frontend/src/components/Modal/Modal.jsx
  frontend/src/components/SideBar/SideBarStreamerItem.jsx
  frontend/src/components/SideBar/SideBarStreamerList.jsx
  frontend/src/pages/MainPage/MainPage.jsx
  frontend/src/pages/MainPage/MainPage.stories.jsx
  frontend/src/pages/MainPage/index.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#37 채팅 도네이션 list 중복 SVG id 충돌 수정 및 채팅 임의 이벤트 처리
  frontend/src/assets/images/icon-bit-1.svg
  frontend/src/assets/images/icon-bit-100.svg
  frontend/src/assets/images/icon-bit-300.svg
  frontend/src/assets/images/icon-bit-50.svg
  frontend/src/assets/images/icon-bit-500.svg
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/DonationModal/DonationModal.jsx
Labels: 💻 frontend, 🔨 fix, :broom: refactoring

#39 PR Merge 버그 수정
  frontend/.storybook/preview-body.html
  frontend/.storybook/preview.js
  frontend/public/index.html
  frontend/src/Portal.js
  frontend/src/assets/images/icon-bit-1.svg
  frontend/src/assets/images/icon-bit-100.svg
  frontend/src/assets/images/icon-bit-300.svg
  frontend/src/assets/images/icon-bit-50.svg
  frontend/src/assets/images/icon-bit-500.svg
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/ChannelCard/Avatar.jsx
  frontend/src/components/Channel/ChannelCard/ChannelCard.jsx
  frontend/src/components/Channel/ChannelCard/ChannelCard.stories.jsx
  frontend/src/components/Channel/ChannelCard/ChannelDetails.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/Chat/stories/MessageList.stories.jsx
  frontend/src/components/DonationModal/DonationItemList/DonationItem/DonationItem.jsx
  frontend/src/components/DonationModal/DonationItemList/DonationItemList.jsx
  frontend/src/components/DonationModal/DonationModal.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
  frontend/src/components/Modal/Modal.jsx
  frontend/src/constants/messageType.js
  frontend/src/pages/MainPage/MainPage.jsx
Labels: 🔥 hotfix

#40 메인페이지 왼쪽, 오른쪽 버튼 클릭 시 영상 5개씩 보이도록 구현
  frontend/public/dummy.json
  frontend/src/components/LiveCollection/LiveSlider.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
Labels: 💻 frontend, 💡 feature

#42 배포시 frontend config 설정
  frontend/.gitignore
  frontend/src/components/LiveCollection/LiveCollection.jsx
Labels: 💻 frontend, 🛠 config

#46 Readme.md 기술 스택 추가
  README.md
Labels: 🛠 config

#59 http 소켓 서버 구축 및 소켓 연결 테스트 진행
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Socket/SocketTest.jsx
  frontend/src/pages/Main/Main.jsx
  frontend/yarn.lock
  socket/chatHandler.js
  socket/package.json
  socket/server.js
Labels: 💻 backend, 💡 feature

#65 방송 관리 페이지 라우팅 및 공용 훅 및 컴포넌트 생성
  backend/db/erd.mwb
  frontend/src/apis/channel.js
  frontend/src/assets/images/delete-icon.svg
  frontend/src/components/Common/Box/Box.jsx
  frontend/src/components/Common/Card/Card.jsx
  frontend/src/components/Common/Chip/Chip.jsx
  frontend/src/components/Common/Chip/Chip.stories.jsx
  frontend/src/components/Common/Chip/index.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/Common/Typography/Typography.stories.jsx
  frontend/src/components/Common/Typography/index.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoard.stories.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.stories.jsx
  frontend/src/components/DashBoard/DashBoardInfo/index.jsx
  frontend/src/components/DashBoard/DashBoardTab/DashBoardTab.jsx
  frontend/src/components/DashBoard/DashBoardTab/DashBoardTab.stories.jsx
  frontend/src/components/DashBoard/DashBoardTab/index.jsx
  frontend/src/components/DashBoard/DashBoardVideo/DashBoardVideo.jsx
  frontend/src/components/DashBoard/DashBoardVideo/DashBoardVideo.stories.jsx
  frontend/src/components/DashBoard/DashBoardVideo/index.jsx
  frontend/src/components/DashBoard/index.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/Header/ChannelModalForm/ChannelModalForm.jsx
  frontend/src/components/Header/ChannelModalForm/index.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/useFetch.js
  frontend/src/hooks/useForm.js
  frontend/src/pages/ChannelManager/ChannelManager.jsx
  frontend/src/styles/theme.js
Labels: 💻 frontend, 💡 feature

#67 방송 채널 생성 및 조회 단위 테스트 작성
  backend/babel.config.json
  backend/jest.config.json
  backend/lib/util/statusCode.js
  backend/models/index.js
  backend/package.json
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/server.js
  backend/tests/setup.js
  backend/tests/unit/channel/controller.test.js
  backend/tests/unit/channel/dao.test.js
  backend/tests/unit/channel/service.test.js
  backend/yarn.lock
Labels: 💻 backend, 👀 test, :broom: refactoring

#71 HotFix라 쓰고 페어프로그래밍이라 읽는다.
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/index.js
  backend/server.js
  frontend/src/App.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/ChannelDetail/ChannelDetail.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/LiveCollection/LiveCard.jsx
  frontend/src/components/LiveCollection/LiveCollection.jsx
  frontend/src/components/LiveCollection/LiveDetails.jsx
  frontend/src/components/LiveCollection/LiveSlider.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
  frontend/src/components/Video/Video.jsx
  frontend/src/constants/url.js
  frontend/src/pages/Main/Main.jsx
Labels: 🔥 hotfix

#74 방송 준비를 위한 레이어 컴포넌트 작성
  frontend/src/assets/images/loading-icon.svg
  frontend/src/components/Common/Overlay/Overlay.jsx
  frontend/src/components/Common/Overlay/Overlay.stories.jsx
  frontend/src/components/Common/Overlay/index.jsx
  frontend/src/components/Video/Video.jsx
  frontend/src/components/VideoOverlay/VideoOverlay.jsx
  frontend/src/components/VideoOverlay/VideoOverlay.stories.jsx
  frontend/src/components/VideoOverlay/index.jsx
Labels: 💻 frontend, 📐 layout

#75 방송 라이브 상태 변경 API 작성
  backend/models/channel.js
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/index.js
Labels: 💻 backend, 💡 feature

#76 채팅 소켓 연결 및 채팅 emit/on 이벤트 등록
  frontend/package.json
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/LiveCollection/LiveSlider.jsx
  frontend/src/components/Socket/SocketTest.jsx
  frontend/src/socket/index.js
  frontend/yarn.lock
  socket/chatHandler.js
  socket/server.js
Labels: 💻 frontend, 💡 feature

#79 채팅 메시지 쓰로틀링 구현
  frontend/src/components/Chat/Chat.jsx
Labels: 💻 frontend, 💡 feature

#82 페이지 간 채팅 소켓 연결 & 채팅창 스크롤바 아래로 고정 & messageBuffer 버그 수정
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/Common/Box/Box.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoardVideo/DashBoardVideo.jsx
  frontend/src/components/Socket/SocketTest.jsx
  frontend/src/socket/index.js
  socket/chatHandler.js
  socket/package.json
  socket/server.js
Labels: 💻 frontend, 💻 backend, 💡 feature, 🔨 fix

#84 feat: 방송 시청 시 미디어 서버 polling custom hook 구현
  frontend/src/components/Video/Video.jsx
  frontend/src/components/Video/usePolling.jsx
  frontend/src/constants/fetchAction.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#97 Component에서 View를 제외한 파일 분리 및 디자인 수정
  frontend/src/components/Common/Card/Card.jsx
  frontend/src/components/Common/Divider/Divider.jsx
  frontend/src/components/Common/Divider/index.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoardCard/DashBoardCard.jsx
  frontend/src/components/DashBoard/DashBoardCard/index.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
  frontend/src/components/DashBoard/DashBoardTab/DashBoardTab.jsx
  frontend/src/components/DashBoard/MediaInfoModal/MediaInfoModal.jsx
  frontend/src/components/DashBoard/MediaInfoModal/index.jsx
  frontend/src/components/Video/Video.jsx
  frontend/src/hooks/usePolling.js
  frontend/src/styles/theme.js
Labels: 💻 frontend, :broom: refactoring, 📐 layout

#96 소켓 관련 리팩토링 및 방송 종료 권한 설정
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/Socket.js
  frontend/src/apis/channel.js
  frontend/src/components/Channel/AlertModal/AlertModal.jsx
  frontend/src/components/Channel/AlertModal/AlertModal.stories.jsx
  frontend/src/components/Channel/AlertModal/index.jsx
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/DonationModal/DonationModal.jsx
  frontend/src/components/Common/Box/Box.jsx
  frontend/src/components/Common/Button/Button.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Common/Modal/Modal.stories.jsx
  frontend/src/components/Common/PageStatus/PageStatus.jsx
  frontend/src/components/Common/PageStatus/PageStatus.stories.jsx
  frontend/src/components/Common/PageStatus/index.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoardTab/DashBoardTab.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/LiveCollection/LiveCollection.jsx
  frontend/src/components/Socket/SocketTest.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/useFetch.js
  frontend/src/pages/ChannelManager/ChannelManager.jsx
  frontend/src/pages/Main/Main.jsx
  frontend/src/socket/index.js
  frontend/yarn.lock
  socket/chatHandler.js
  socket/server.js
  socket/socketHandler.js
Labels: 💻 frontend, 💻 backend, 💡 feature, :broom: refactoring

#99 useChatMessage에서 socket 'chat' 이벤트가 발생했을 때 로직 부분 수정
  frontend/src/Socket.js
  frontend/src/hooks/useChatMessage.js
Labels: 🔥 hotfix

#100 POST /api/channel/:id/message api 생성
  backend/lib/util/util.js
  backend/models/message.js
  backend/routes/api/message/index.js
  backend/routes/api/message/message.controller.js
  backend/routes/api/message/message.dao.js
  backend/routes/api/message/message.service.js
  backend/routes/api/message/swagger/components.js
  backend/routes/api/swagger/index.js
  backend/server.js
  backend/tests/unit/message/controller.test.js
Labels: 💻 backend, 💡 feature, 👀 test

#102 API 테스트 및 storybook 오류 해결
  backend/.babelrc
  backend/.eslintrc.json
  backend/babel.config.json
  backend/package.json
  backend/routes/api/message/index.js
  backend/routes/api/message/message.controller.js
  backend/routes/api/message/message.dao.js
  backend/routes/api/message/message.service.js
  backend/tests/unit/channel/dao.test.js
  backend/tests/unit/message/controller.test.js
  backend/yarn.lock
  frontend/src/Socket.js
Labels: 🔥 hotfix

#113 프론트 & 백 소켓 리팩토링
  frontend/src/Socket.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/constants/socketEventType.js
  frontend/src/hooks/useChatMessage.js
  frontend/src/socket/channel.js
  frontend/src/socket/chat.js
  frontend/src/socket/index.js
  socket/controllers/channel.js
  socket/controllers/chat.js
  socket/loader.js
  socket/server.js
Labels: 💻 frontend, 💻 backend, :broom: refactoring

#116 OAuth Google login 및 인증 기능 구현
  backend/lib/util/jwtUtil.js
  backend/models/channel.js
  backend/models/follow.js
  backend/models/index.js
  backend/models/message.js
  backend/models/user.js
  backend/models/watch.js
  backend/package.json
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/auth.service.js
  backend/routes/api/auth/index.js
  backend/routes/api/channel/index.js
  backend/routes/api/user/user.dao.js
  backend/server.js
  frontend/src/App.js
  frontend/src/apis/auth.js
  frontend/src/components/Callback/Callback.js
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/LoginModal/LoginModal.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/constants/oauth.js
  frontend/src/store/reducer.js
  frontend/src/store/userStore.js
Labels: 💻 backend, 💡 feature

#115 useArray, useBuffer, go 함수를 통해 useChatMessage 개선
  frontend/src/hooks/useArray.js
  frontend/src/hooks/useBuffer.js
  frontend/src/hooks/useChatMessage.js
  frontend/src/util/buffer.js
  frontend/src/util/fp.js
Labels: 💻 frontend, :broom: refactoring

#117 소켓 스트레스 테스팅
  frontend/package.json
  frontend/src/hooks/useChatMessage.js
  frontend/src/socket/chat.js
  frontend/src/tests/socketio-chat-report
  frontend/src/tests/socketio-chat-report.html
  frontend/src/tests/socketio-chat-test.yaml
  frontend/yarn.lock
Labels: 💻 frontend, 👀 test

#122 react-router-dom v6로 버전 업그레이드
  frontend/package.json
  frontend/src/App.js
  frontend/src/apis/auth.js
  frontend/src/components/AuthCallback/GoogleAuthCallback.js
  frontend/src/components/Callback/Callback.js
  frontend/src/components/Channel/AlertModal/AlertModal.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/pages/Main/Main.jsx
Labels: 🛠 config, 🔨 fix

#125 새로고침되면 로그아웃되는 문제 해결
  backend/lib/util/jwtUtil.js
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/index.js
  frontend/src/App.js
  frontend/src/apis/auth.js
  frontend/src/auth/GoogleAuthCallback.js
  frontend/src/components/AuthCallback/GoogleAuthCallback.js
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/LoginModal/LoginModal.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/constants/url.js
  frontend/src/hooks/useAuth.js
  frontend/src/store/reducer.js
  frontend/src/store/userStore.js
  frontend/src/util/index.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#124 backend API 리팩토링 및 성능 테스트 분리, 의존성 설치 스크립트 구현
  .gitignore
  artillery/api-test.yaml
  artillery/run.sh
  artillery/socketio-chat-test.yaml
  backend/db/initDummy.js
  backend/models/channel.js
  backend/models/chat.js
  backend/models/follow.js
  backend/models/index.js
  backend/models/init-models.js
  backend/models/message.js
  backend/models/user.js
  backend/models/watch.js
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/auth.service.js
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/chat/chat.dao.js
  backend/routes/api/user/user.dao.js
  frontend/package.json
  frontend/src/tests/socketio-chat-report
  frontend/src/tests/socketio-chat-report.html
  install.sh
Labels: 💻 backend, :broom: refactoring

#127 새로고침해도 accessToken, refreshToken이 사라지지 않는 현상 해결
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/auth.service.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/hooks/useAuth.js
  frontend/src/pages/ChannelManager/ChannelManager.jsx
  frontend/yarn.lock
Labels: 💻 frontend, 💻 backend, 🔥 hotfix

#129 backend 리팩토링 및 방송 조회 시 streamer 정보 추가
  backend/db/erd.mwb
  backend/db/initDummy.js
  backend/lib/util/jwtUtil.js
  backend/lib/util/requestHandler.js
  backend/models/channel.js
  backend/models/chat.js
  backend/models/follow.js
  backend/models/init-models.js
  backend/models/message.js
  backend/models/user.js
  backend/models/watch.js
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/auth.service.js
  backend/routes/api/auth/index.js
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/index.js
  backend/routes/api/chat/chat.dao.js
  backend/routes/api/message/message.dao.js
  backend/routes/api/user/user.dao.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/ChannelDetail/ChannelDetail.jsx
  frontend/src/components/LiveCollection/LiveDetails.jsx
  frontend/src/constants/fetchAction.js
Labels: 💻 backend, :broom: refactoring

#130 메세지 생성 api 연동
  backend/routes/api/chat/index.js
  backend/routes/api/message/message.controller.js
  backend/server.js
  frontend/src/App.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/hooks/useSocket.js
  frontend/src/socket/channel.js
  frontend/src/store/userStore.js
  socket/controllers/channel.js
  socket/controllers/chat.js
  socket/package.json
Labels: 💻 frontend, 💻 backend, 💡 feature

#131 권한 별 라우팅 구현
  frontend/src/App.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Route/PrivateRoute/PrivateRoute.jsx
  frontend/src/components/Route/PrivateRoute/index.jsx
  frontend/src/components/Route/PublicRoute/PublicRoute.jsx
  frontend/src/components/Route/PublicRoute/index.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/constants/role.js
  frontend/src/hooks/useAuth.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#138 useSocket 로그인 권한 확인 로직 추가 + 여러번 refresh할 때 토큰값 지워지는 문제 해결
  frontend/src/hooks/useAuth.js
  frontend/src/hooks/useSocket.js
  frontend/src/store/userStore.js
Labels: 💻 frontend, 🔥 hotfix

#140 로그아웃 기능 구현
  backend/routes/api/channel/channel.service.js
  frontend/src/components/Header/Header.jsx
  frontend/src/hooks/useAuth.js
Labels: 💻 frontend, 💡 feature

#145 방송 종료 시, 모든 사용자 메인페이지로 이동
  frontend/src/components/AlertModal/AlertModal.jsx
  frontend/src/components/AlertModal/AlertModal.stories.jsx
  frontend/src/components/AlertModal/index.jsx
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/hooks/useSocket.js
  socket/controllers/channel.js
Labels: 💻 frontend, 💡 feature

#144 채널 조회 시 권한 정보 포함 및 방송 관리 페이지 이동 시 권한 인증
  backend/lib/util/requestHandler.js
  backend/routes/api/auth/auth.service.js
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/constant/role.js
  backend/routes/api/channel/index.js
  frontend/src/apis/channel.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/constants/auth.js
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/useAuth.js
  frontend/src/hooks/useSocket.js
  frontend/src/pages/ChannelManager/ChannelManager.jsx
  frontend/src/util/index.js
Labels: 💻 frontend, 💻 backend, :broom: refactoring

#147 Hotfix/#164
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/index.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/index.jsx
  frontend/src/components/Header/LoginModal/LoginModal.jsx
  frontend/src/components/LiveCollection/LiveDetails.jsx
  frontend/src/components/LiveCollection/LiveList.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/useAuth.js
  frontend/src/hooks/useSocket.js
  frontend/src/pages/ChannelManager/ChanerManager.stories.jsx
  frontend/src/pages/ChannelManager/ChannelManager.jsx
  frontend/src/pages/ChannelManager/ChannelManager.stories.jsx
  frontend/src/pages/Main/Main.jsx
  frontend/src/styles/global.js
  socket/controllers/channel.js
  socket/controllers/chat.js
  socket/yarn.lock
Labels: 💻 frontend, 💻 backend, 🔥 hotfix

#149 방송 시청 streamkey 전달 및 snake case camel case로 변경
  backend/routes/api/channel/channel.service.js
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
Labels: 💻 frontend, 💻 backend, 🔥 hotfix

#152 공용 슬라이더 컴포넌트 구현
  frontend/src/components/Common/Slider/Slider/Slider.jsx
  frontend/src/components/Common/Slider/Slider/Slider.stories.jsx
  frontend/src/components/Common/Slider/Slider/index.jsx
  frontend/src/components/Common/Slider/SliderItem/SlideItem.stories.jsx
  frontend/src/components/Common/Slider/SliderItem/SliderItem.jsx
  frontend/src/components/Common/Slider/SliderItem/index.jsx
  frontend/src/components/Common/Slider/index.jsx
  frontend/src/pages/ChannelManager/ChanerManager.stories.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#154 하나의 커맨드로 모든 서버 실행
  package.json
Labels: 🛠 config

#165 채널 API swagger 작성 및 API 리팩토링
  backend/build/swagger.yaml
  backend/models/index.js
  backend/package.json
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/index.js
  backend/routes/api/message/swagger/components.js
  backend/routes/api/swagger/index.js
  backend/swagger/build/bundle.yaml
  backend/swagger/channel/components.yaml
  backend/swagger/channel/paths.yaml
  backend/swagger/common/response.yaml
  backend/swagger/common/schemas.yaml
  backend/swagger/message/components.yaml
  backend/swagger/root/root.yaml
Labels: :broom: refactoring

#166 로그인 후 현재 페이지로 리다이렉트
  frontend/src/auth/GoogleAuthCallback.js
  frontend/src/components/Header/LoginModal/LoginModal.jsx
Labels: 💻 frontend, :broom: refactoring

#167 Modal 컴포넌트 prop 변경 및 OBS 모달 레이아웃 구성
  frontend/src/components/AlertModal/AlertModal.jsx
  frontend/src/components/AlertModal/AlertModal.stories.jsx
  frontend/src/components/Chat/DonationModal/DonationModal.jsx
  frontend/src/components/Chat/LoginAlertModal/LoginAlertModal.jsx
  frontend/src/components/Common/Box/Box.stories.jsx
  frontend/src/components/Common/Button/Button.jsx
  frontend/src/components/Common/IconButton/IconButton.jsx
  frontend/src/components/Common/IconButton/IconButton.stories.jsx
  frontend/src/components/Common/IconButton/index.jsx
  frontend/src/components/Common/Loading/Loading.jsx
  frontend/src/components/Common/Loading/Loading.stories.jsx
  frontend/src/components/Common/Loading/index.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Common/Modal/Modal.stories.jsx
  frontend/src/components/Common/Overlay/Overlay.jsx
  frontend/src/components/Common/Overlay/index.jsx
  frontend/src/components/Common/Slider/Slider.jsx
  frontend/src/components/Common/Slider/Slider.stories.jsx
  frontend/src/components/Common/Slider/Slider/index.jsx
  frontend/src/components/Common/Slider/SliderItem/SliderItem.jsx
  frontend/src/components/Common/Slider/SliderItem/index.jsx
  frontend/src/components/Common/Slider/index.jsx
  frontend/src/components/Common/SliderItem/SlideItem.stories.jsx
  frontend/src/components/Common/SliderItem/SliderItem.jsx
  frontend/src/components/Common/SliderItem/index.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/Common/Typography/Typography.stories.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/components/DashBoard/MediaInfoModal/MediaInfoModal.jsx
  frontend/src/components/DashBoard/MediaInfoModal/MediaInfoModal.stories.jsx
  frontend/src/components/DashBoard/OBSModal/OBSModal.jsx
  frontend/src/components/DashBoard/OBSModal/OBSModal.stories.jsx
  frontend/src/components/DashBoard/OBSModal/index.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/LoginModal/LoginModal.jsx
  frontend/src/components/Header/LoginModal/LoginModal.stories.jsx
  frontend/src/constants/css.js
  frontend/src/constants/index.js
  frontend/src/pages/Main/Main.jsx
  frontend/src/styles/global.js
  frontend/src/styles/keyframes.js
  frontend/src/styles/theme.js
Labels: 💻 frontend, 💡 feature, :broom: refactoring

#169 방송 관리 페이지에 헤더 추가
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoard.stories.jsx
  frontend/src/components/DashBoard/index.jsx
  frontend/src/pages/ChannelManager/ChannelManager.jsx
Labels: 💻 frontend, 📐 layout

#168 Dropdown 컴포넌트 생성 및 프로필 아이콘에 적용
  frontend/src/components/DropDown/DropDown.jsx
  frontend/src/components/DropDown/DropDown.stories.jsx
  frontend/src/components/DropDown/index.jsx
  frontend/src/components/Header/Header.jsx
Labels: 💻 frontend, 💡 feature, 📐 layout

#171 채팅창에서 로그인 alert modal 활성화 안되는 오류 해결
  frontend/src/components/Chat/LoginAlertModal/LoginAlertModal.jsx
  frontend/src/constants/url.js
Labels: 💻 frontend, 🔥 hotfix

#179 Dropdown 컴포넌트 개선
  frontend/src/components/DropDown/DropDown.jsx
  frontend/src/components/DropDown/DropDown.stories.jsx
  frontend/src/components/Header/Header.jsx
Labels: 💻 frontend, :broom: refactoring

#182 낙관적 검증 적용
  artillery/socketio-chat-test.yaml
  backend/routes/api/message/message.dao.js
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/Common/Button/Button.jsx
  frontend/src/hooks/useChatMessage.js
  socket/controllers/chat.js
Labels: 💻 frontend, 💡 feature, 👀 test

#180 채널 정보 수정 API 및 프론트 연동
  backend/models/index.js
  backend/routes/api/channel/channel.controller.js
  backend/routes/api/channel/channel.dao.js
  backend/routes/api/channel/channel.service.js
  backend/routes/api/channel/index.js
  backend/tests/unit/channel/controller.test.js
  backend/tests/unit/channel/dao.test.js
  backend/tests/unit/message/controller.test.js
  frontend/src/apis/auth.js
  frontend/src/apis/channel.js
  frontend/src/components/Common/TextField/TextField.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/Header/ChannelModalForm/ChannelModalForm.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/constants/fetchAction.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#185 merge conflict 해결
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/Header/ChannelModalForm/ChannelModalForm.jsx
Labels: 🔥 hotfix

#187 IconButton padding, hover 색상 변경 및 Header 컴포넌트 하위에 IconButton margin 부여
  frontend/src/assets/images/close-icon.svg
  frontend/src/components/Common/IconButton/IconButton.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/constants/css.js
Labels: 💻 frontend, :broom: refactoring

#189 Oauth 로딩 과정에서 Loading 컴포넌트 반영
  frontend/src/auth/GoogleAuthCallback.js
  frontend/src/components/Header/LoginModal/LoginModal.jsx
Labels: 💻 frontend, 📐 layout

#190 Skeleton UI를 위한 component, keyframe을 적용
  frontend/src/components/Common/Skeleton/Skeleton.jsx
  frontend/src/components/Common/Skeleton/Skeleton.stories.jsx
  frontend/src/components/Common/Skeleton/index.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/styles/keyframes.js
Labels: 💻 frontend, 📐 layout

#198 낙관적 검증 refactor & 메시지 박스 스타일링
  backend/routes/api/message/message.controller.js
  backend/routes/api/message/message.dao.js
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Chat/MessageList.jsx
  frontend/src/components/Common/Button/Button.jsx
  frontend/src/hooks/useChatMessage.js
  package.json
  socket/constants/socketEvents.js
  socket/constants/statusCode.js
  socket/controllers/channel.js
  socket/controllers/chat.js
  socket/package.json
Labels: 💻 frontend, 💡 feature, :broom: refactoring

#199 실시간 시청자 수 구현
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/ChannelDetail/ChannelDetail.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
  frontend/src/constants/socketEventType.js
  frontend/src/hooks/useSocket.js
  frontend/src/socket/channel.js
  socket/controllers/channel.js
  socket/loader.js
  socket/utils/user.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#196 Performance 향상을 위한 폰트 타입 변경 및 페이지 단위 Dynamic import
  frontend/.eslintrc.js
  frontend/src/App.js
  frontend/src/Router.jsx
  frontend/src/assets/fonts/NotoSansKR-Bold.woff
  frontend/src/assets/fonts/NotoSansKR-Bold.woff2
  frontend/src/assets/fonts/NotoSansKR-Light.woff
  frontend/src/assets/fonts/NotoSansKR-Light.woff2
  frontend/src/assets/fonts/NotoSansKR-Medium.woff
  frontend/src/assets/fonts/NotoSansKR-Medium.woff2
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Channel/ChannelDetail/ChannelDetail.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Common/Box/Box.jsx
  frontend/src/components/Common/Button/Button.jsx
  frontend/src/components/Common/Chip/Chip.jsx
  frontend/src/components/Common/IconButton/IconButton.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/constants/css.js
  frontend/src/styles/global.js
  frontend/src/styles/mixins.js
  frontend/src/util/index.js
Labels: 💻 frontend, :broom: refactoring

#197 DropDown 컴포넌트 리팩토링 및 ChannelFormModal SelectionBox 컴포넌트 적용
  frontend/src/assets/images/dropdown-icon.svg
  frontend/src/components/Common/Overlay/Overlay.jsx
  frontend/src/components/Common/SelectionBox/SelectionBox.jsx
  frontend/src/components/Common/SelectionBox/SelectionBox.stories.jsx
  frontend/src/components/Common/SelectionBox/index.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DashBoard/DashBoardInfo/DashBoardInfo.jsx
  frontend/src/components/DropDown/DropDown.jsx
  frontend/src/components/Header/ChannelModal/ChannelModal.jsx
  frontend/src/components/Header/ChannelModalForm/ChannelModalForm.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/constants/channelCategory.js
  frontend/src/hooks/useFetch.js
  frontend/src/hooks/useForm.js
  frontend/src/validation/ChannelModal.js
Labels: 💻 frontend, 💡 feature, :broom: refactoring

#201 Typography 컴포넌트 충돌 해결
  frontend/src/components/Chat/Message.jsx
Labels: 💻 frontend, 🔥 hotfix

#202 OBS 모달을 위한 이미지, 슬라이더 추가
  frontend/src/assets/images/OBS1-1.png
  frontend/src/assets/images/OBS2-1.png
  frontend/src/assets/images/OBS3-1.png
  frontend/src/assets/images/OBS3-2.png
  frontend/src/assets/images/OBS3-3.png
  frontend/src/assets/images/OBS4-1.png
  frontend/src/assets/images/OBS5-1.png
  frontend/src/assets/images/OBS6-1.png
  frontend/src/components/Common/IconButton/IconButton.jsx
  frontend/src/components/Common/IconButton/IconButton.stories.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Common/Slider/Slider.jsx
  frontend/src/components/DashBoard/OBSModal/OBSModal.jsx
  frontend/src/constants/css.js
  frontend/src/constants/index.js
  frontend/src/styles/mixins.js
Labels: 💻 frontend, 💡 feature

#209 메시지 전송 실패 re-스타일링 & Donation+Channel 모달 styling
  frontend/src/assets/images/x.svg
  frontend/src/components/Chat/DonationModal/DonationModal.jsx
  frontend/src/components/Chat/Message.jsx
  frontend/src/components/Common/IconButton/IconButton.jsx
  frontend/src/components/Common/SelectionBox/SelectionBox.jsx
  frontend/src/components/Common/TextField/TextField.jsx
  frontend/src/components/Common/Typography/Typography.jsx
  frontend/src/components/Common/index.jsx
  frontend/src/components/DropDown/DropDown.jsx
  frontend/src/components/Header/ChannelModalForm/ChannelModalForm.jsx
  frontend/src/constants/css.js
  frontend/src/hooks/useChatMessage.js
Labels: 💻 frontend, :broom: refactoring, 📐 layout

#210 메인, 채팅 페이지, 도네이션 모달 레이아웃 변경
  frontend/src/components/Channel/ChannelDetail/ChannelDetail.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/DonationModal/DonationItem/DonationItem.jsx
  frontend/src/components/Chat/DonationModal/DonationItemList/DonationItemList.jsx
  frontend/src/components/Chat/DonationModal/DonationModal.jsx
  frontend/src/components/Common/Chip/Chip.jsx
  frontend/src/components/LiveCollection/LiveDetails.jsx
Labels: 💻 frontend, 📐 layout

#213 홈 화면의 슬라이더 리팩토링
  frontend/src/components/LiveCollection/LiveCollection.jsx
  frontend/src/components/LiveCollection/LiveList.jsx
  frontend/src/components/LiveCollection/LiveSlider.jsx
Labels: 💻 frontend, :broom: refactoring

#212 방송 종료 모달이 띄워지고 방송에 나가지지 않는 버그 수정
  frontend/src/components/AlertModal/AlertModal.jsx
  frontend/src/hooks/useModal.js
Labels: 💡 feature, 🔨 fix

#215 닉네임 변경 모달 생성 & 닉네임 변경 API 구현
  backend/routes/api/user/index.js
  backend/routes/api/user/user.controller.js
  backend/routes/api/user/user.dao.js
  backend/routes/api/user/user.service.js
  frontend/src/apis/user.js
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/LoginModal/LoginModal.jsx
  frontend/src/components/Header/NicknameModal/NicknameModal.jsx
  frontend/src/components/Header/NicknameModal/NicknameModal.stories.jsx
  frontend/src/components/Header/NicknameModal/index.jsx
  frontend/src/components/Header/NicknameModalForm/NicknameModalForm.jsx
  frontend/src/components/Header/NicknameModalForm/NicknameModalForm.stories.jsx
  frontend/src/components/Header/NicknameModalForm/index.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/useAuth.js
Labels: 💻 frontend, 💻 backend, 💡 feature

#218 Header 아이콘 margin 제거 및 전반적인 스타일링 오류 해결
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/DashBoard/DashBoardTab/DashBoardTab.jsx
  frontend/src/components/DropDown/DropDown.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/LiveCollection/LiveSlider.jsx
  frontend/src/components/LiveCollection/LiveThumbnail.jsx
  frontend/src/components/VideoOverlay/VideoOverlay.jsx
Labels: 🔥 hotfix

#220 6주차 배포 hotfix..
  backend/routes/api/swagger/index.js
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/Form.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/DropDown/DropDown.jsx
Labels: 🔥 hotfix

#239 useThrottle 함수 개선
  frontend/src/hooks/useChatMessage.js
  frontend/src/hooks/useThrottle.js
Labels: 💻 frontend, :broom: refactoring

#240 usePolling 함수 개선
  frontend/src/hooks/usePolling.js
Labels: 💻 frontend, :broom: refactoring

#241 채팅 컴포넌트 스크롤 오류 해결
  frontend/src/components/Chat/ChatForm/ChatForm.jsx
  frontend/src/components/Chat/ChatMessageList/ChatMessageList.jsx
  frontend/src/hooks/useScroll.js
  frontend/src/util/index.js
Labels: 💻 frontend, 🔨 fix

#242 Public/Private Route 리팩토링
  backend/src/routes/api/channel/constant/role.js
  frontend/src/Router.jsx
  frontend/src/components/Channel/Channel.jsx
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/ChatForm/ChatForm.jsx
  frontend/src/components/Chat/ChatForm/hooks/useChatForm.jsx
  frontend/src/components/DashBoard/DashBoard.jsx
  frontend/src/components/Route/PrivateRoute/PrivateRoute.jsx
  frontend/src/components/Route/PublicRoute/PublicRoute.jsx
  frontend/src/constants/role.js
  frontend/src/hooks/useFetch.js
  frontend/src/pages/ChannelManager/ChannelManager.jsx
Labels: 💻 frontend, :broom: refactoring

#246 Error spec 정의 및 Error 핸들러 구현
  backend/src/lib/constant/statusCode.js
  backend/src/lib/error/ClientError.js
  backend/src/lib/error/ErrorSpec.js
  backend/src/lib/error/ServerError.js
  backend/src/lib/error/constant/ErrorCode.js
  backend/src/lib/middlewares/error.js
  backend/src/lib/util/errorHandler.js
  backend/src/lib/util/util.js
  backend/src/routes/api/auth/auth.controller.js
  backend/src/routes/api/auth/auth.service.js
  backend/src/routes/api/channel/channel.controller.js
  backend/src/routes/api/channel/channel.dao.js
  backend/src/routes/api/channel/channel.service.js
  backend/src/routes/api/chat/chat.dao.js
  backend/src/routes/api/message/message.controller.js
  backend/src/routes/api/message/message.dao.js
  backend/src/routes/api/message/message.service.js
  backend/src/routes/api/user/user.controller.js
  backend/src/routes/api/user/user.dao.js
  backend/src/routes/api/user/user.service.js
  backend/src/routes/index.js
Labels: 💻 backend, :broom: refactoring

#255 API 요청시 NOT FOUND USER 의 경우 로그 아웃 처리
  backend/src/routes/api/chat/index.js
  backend/src/routes/api/message/message.controller.js
  backend/src/routes/api/message/message.service.js
  frontend/src/apis/channel.js
  frontend/src/components/Chat/hooks/useChatMessage.js
  frontend/src/components/Header/hooks/useSignOutMenu.js
  frontend/src/hooks/useChatMessage.js
  socket/controllers/chat.js
Labels: 💻 frontend, 💻 backend, :broom: refactoring

#247 useModal의 closeModal호출 후 로직 분리
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/hooks/useChatMessage.js
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/ModalContent/ChannelEnd/ChannelEnd.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/useChatMessage.js
  frontend/src/hooks/useCounter.js
  frontend/src/hooks/useDidMount.js
  frontend/src/hooks/useModal.js
  frontend/src/hooks/useWillUnmount.js
Labels: 💻 frontend, :broom: refactoring

#250 API 요청시 NOT FOUND USER 의 경우 로그 아웃 처리
  backend/src/routes/api/auth/auth.controller.js
  backend/src/routes/api/chat/index.js
  backend/src/routes/api/message/message.controller.js
  backend/src/routes/api/message/message.service.js
  backend/src/routes/api/user/user.controller.js
  backend/src/routes/api/user/user.dao.js
  backend/src/routes/api/user/user.service.js
  frontend/src/apis/channel.js
  frontend/src/apis/fetchUtill.js
  frontend/src/apis/user.js
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Chat/hooks/useChatMessage.js
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/Header/hooks/useSignOutMenu.js
  frontend/src/components/ModalContent/ChannelEnd/ChannelEnd.jsx
  frontend/src/components/ModalContent/LoginErrorAlert/LoginErrorAlert.jsx
  frontend/src/components/ModalContent/LoginErrorAlert/LoginErrorAlert.stories.jsx
  frontend/src/components/ModalContent/LoginErrorAlert/index.jsx
  frontend/src/components/ModalContent/Nickname/Nickname.jsx
  frontend/src/components/ModalContent/index.jsx
  frontend/src/components/OauthCallback/GoogleAuthCallback.jsx
  frontend/src/constants/fetchAction.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useAuth.js
  frontend/src/hooks/useCounter.js
  frontend/src/hooks/useDidMount.js
  frontend/src/hooks/useModal.js
  frontend/src/hooks/useWillUnmount.js
  frontend/src/reducer/userAuthReducer.js
  socket/controllers/chat.js
Labels: 💻 frontend, 💻 backend, :broom: refactoring

#252 backend cors origin option 추가
  backend/package.json
  backend/src/lib/util/nodeEnvUtil.js
  backend/src/server.js
Labels: 💻 backend, 🛠 config

#253 socket server 환경변수 설정 및 cors origin 수정
  .gitignore
  socket/controllers/chat.js
  socket/package.json
  socket/server.js
  socket/yarn.lock
Labels: 💻 backend, 🛠 config

#254 방송 페이지를 벗어나도 polling 되는 버그 수정
  frontend/src/hooks/usePolling.js
Labels: 🐛 bug

#257 채널 정보 업데이트 안되는 문제 해결 & useChat import 에러 헤결
  backend/src/models/index.js
  backend/src/routes/api/channel/channel.controller.js
  frontend/src/components/Chat/Chat.jsx
  frontend/src/components/Common/Modal/Modal.jsx
  frontend/src/components/ModalContent/ChannelEnd/ChannelEnd.jsx
  frontend/src/hooks/index.js
  frontend/src/hooks/useCounter.js
  frontend/src/hooks/useDidMount.js
  frontend/src/hooks/useWillUnmount.js
Labels: 💻 frontend, 💻 backend, 🔥 hotfix

#259 backend package.json start 스크립트에서 NODE_ENV 공백 제거
  backend/package.json
  backend/src/models/index.js
Labels: 🔥 hotfix
